fastapi
gitpython
langchain
langchain-pinecone
langchain-groq
langchain-text-splitters
langchain-voyageai
langgraph
langgraph-checkpoint-postgres
python-dotenv
uvicorn
pinecone
psycopg2-binary
langchain-community