fastapi
gitpython
langchain
langchain-pinecone
langchain-groq
langchain-text-splitters
langchain-google-genai
langgraph
langgraph-checkpoint-postgres
python-dotenv
uvicorn
pinecone
psycopg[binary]
langchain-community